#particles {
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  display: block;
  margin-left: 0%;
  margin-right: auto;
}



body {
  background: black !important;
  margin-left: 68px !important;
}

.sidenav---sidenav---_2tBP {
  background: black !important;
  border-style: groove;
  border-left-style: none;
  border-color: #52fefe42;
}

.googleform {
  height: 150px;
  position: absolute;
  top: 10px;
  left: 80px;
  border: aqua;
  border-style: double;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  background-color: rgba(0, 0, 0, 0.651);
}

.gm-style .gm-style-iw-d {
  box-sizing: border-box;
  overflow: hidden !important;
  max-height: 100% !important;
}

.gm-style-iw {
  padding-right: 12px !important;
  padding-bottom: 12px !important;
}

input {
  background: #00000096 !important;
  color: rgb(108, 255, 255) !important;
  border: 2px solid rgb(108, 255, 255) !important;
}

.gm-style .gm-style-iw-c {
  background-color: #2d2d2d !important;
  color: #6cffff !important;
  overflow: scroll !important;
  max-height: 450px !important;
}

.gm-style .gm-style-iw-c::-webkit-scrollbar {
  display: none;
}

h4.ui.header {
  color: #6cffff !important;
}

.content {
  width: 100%;
}
.ui.icon.button,
.ui.icon.buttons .button {
  padding: 0.78571429em 0.78571429em 0.78571429em !important;
  float: right;
  background: black;
}

.ui.block.header {
  background: #01ffff !important;
  padding: 0.78571429rem 0.78571429rem 0.78571429rem !important;
  box-shadow: none !important;
  border: 1px solid #01ffff !important;
  border-radius: 0.28571429rem !important;
}

.ui.circular.button:hover {
  background-color: yellow;
}

.ui.circular.button > .icon {
  width: 1em;
  vertical-align: baseline;
  color: #01ffff;
}

.label {
  font-weight: 700;
}

.markertoggle {
  position: absolute !important;
  top: 10%;
  right: 10%;
  margin-top: -50px;
  margin-right: -50px;
  width: 140px;
  height: 40px;
}

.results {
  position: absolute !important;
  top: 30%;
  right: 10%;
  margin-top: -50px;
  margin-right: -70px;
  width: 20%;
  height: 40%;
  background: #08314b;
  border: #6cffff;
  border-style: groove;
  color: #6bffff;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeftAbout {
  0% {
    transform: translateX(-180%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hometitle {
  animation: 4s ease 0s 1 slideInFromLeft;
  position: absolute !important;
  top: 20%;
  left: 3%;
  /* margin-top: -50px;
  margin-right: -70px; */
  width: 45%;
  height: 20%;
}

.about {
  animation: 4s ease 0s 1 slideInFromLeftAbout;
  position: absolute !important;
  top: 53%;
  left: 13%;
  /* margin-top: -50px;
  margin-right: -70px; */
  width: 40%;
  height: 10%;
}

.particles {
  animation-name: fadein;
  animation-duration: 5s; 
  left: 20%;
  position: relative;
}


.awssld {
  border: double;
  background: rgba(0, 0, 0, 0.644);
  height: 500px;
  position: absolute !important;
  top: 50%;
  width: 100%;
  right: 0;
  -webkit-transform: translateY(-50%);
  --organic-arrow-thickness: 4px !important;
  --organic-arrow-height: 40px !important;
  --slider-height-percentage: 60% !important;
  --loader-bar-color: #6cffff !important;
  --loader-bar-height: 6px !important;
  --control-button-width: 10% !important;
  --control-button-height: 25% !important;
  --control-button-opacity: 1 !important;
  --control-button-hover-opacity: 1 !important;
  --control-button-background: transparent !important;
  --transition-bezier: cubic-bezier(0.5, 0.075, 0.25, 0.95) !important;
  --slider-transition-duration: 575ms !important;
  --organic-arrow-color: #6cffff !important;
  --organic-arrow-border-radius: 0 !important;
  --control-bullet-color: #6bffff !important;
  --control-bullet-active-color: #ffffff !important;
  --content-background-color: #ffffff6b !important;
}

.awssld__content > img {
  width: 50% !important;
  height: 70% !important;
  position: absolute !important;
  object-fit: fill !important;
  top: auto !important;
  left: auto !important;
}

.carData {
  position: absolute;
  text-align: center;
  bottom: 5%;
}

#cartitle {
  font-size: xx-large;
  color: #6cffff;
  margin-bottom: 10px;
}

#carinfo {
  color: rgb(0, 0, 0);
}

h1 {
  position: absolute;
  top: 14%;
  color: 6cffff;
  left: 15px;
}

.ui.teal.circular.inverted.button {
  position: relative;
  top: 18%;
}

.carselector {
  position: absolute;
  width: 1372px;
  height: 100%;
  top: 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.623);
}

.awssld.awssld--organic-arrows {
  border-style: double;
  border-top-color: #6bffff;
  border-bottom-color: #6bffff;
}

.input-range__slider {
  background: #6bffff !important;
}

.input-range__track--active {
  background: #6cffff !important;
}

.slider {
  color: #6bffff;
}

.rv-xy-plot {
  margin: auto;
  top: 180px;
}

.options {
  width: 50%;
  height: 80px;
  background: rgb(46, 46, 46);
  position: absolute;
  left: 25%;
  border-style: double;
  border-color: #6cffff;
  border-top: none;
  text-align: center;
  padding-top: 2%;
}

#boptions {
  margin-left: 25px;
  margin-right: 25px;
}

.rv-xy-plot__inner {
  overflow: overlay !important;
}

rect {
  stroke: #6cffff !important;
  fill: #000000 !important;
}

.charttitle {
  position: absolute;
  color: #6cffff;
  top: 13%;
  left: 35%;
}

.rv-xy-plot__axis__title text {
  fill: #6cffff !important;
  font-size: 15px !important;
}